* {
    box-sizing: border-box;
}

body {
    margin: 0 0 70px 0;
    background: url(../images/brushed_alu_dark/brushed_alu_dark.png);
}

header {
    width: 100%;
    border-bottom: 5px solid #cccccc;
    text-align: center;
    background-color: #ffffff;
    height: 80px;
}

.container {
    width: 960px;
    margin: auto;
    text-align: center;
}

.Name {
    width: 30%;
    float: left;
    background-color: #4aaaa5;
    color: #fff;
    padding: 20px;
    font-size: 24px;
    position: relative;
    top: 11px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.navigation {
    width: 70%;
    float: left;
    position: relative;
    right: 0;
    top: 37.5px;
}

.navmenulinks {
    float: right;
}

a {
    text-decoration: none;
    color: #777777;
}

.Nav1 {
    width: 100px;
    border-right: 1px solid #cccccc;
    float: left;
}

.Nav2 {
    width: 100px;
    border-right: 1px solid #cccccc;
    float: left;
}

.Nav3 {
    width: 100px;
    float: left;
}

.content {
    width: 960px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 25px;
    color: #777777;
    border: #dddddd solid 1px;
    height: 675px;
}

h2 {
    color: #4aaaa5;
    font-size: 24px;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 25px;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

p {
    line-height: 2;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

img {
    width: 200px;
}

.image {
    float: left;
    margin: 0px 20px 20px 0px;
}

.textbox {
    width: 100%;
    padding: 10px;
}

textarea {
    border: 1px solid #cccccc;
}

.contact_form {
    line-height: 45px;
}

.submitbutton {
    background-color: #4aaaa5;
    padding: 12px;
    width: 160px;
    font-size: 20px;
    margin-top: 10px;
    color: #fff;
    position: relative;
    top: 270px;
    right: 60px;
}

.portfolio-links {
    width: 540px;
}

li {
    float: left;
}

.imgtitle {
    background-color: #4aaaa5;
    width: 200px;
    text-align: center;
    margin-right: 25px;
    padding: 10px;
    position: relative;
    top: 135px;
    color: #fff;
}

footer {
    background-color: #666666;
    height: 50px;
    border-top: #4aaaa5 solid 5px;
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
    color: white;
}

@media only screen and (max-width: 640px) {

header {
        height: 100px;
}
h1 {
        color: red;
        font-size: 18px;
}
footer {
        width: 100%;
}
.Name {
        width: 25%
}
img {
        width: 80%;
        position: relative;
        left: 10%;
}
h3 {
        color: red;
}

h2 {
        color: red;
}

.content {
        color: red;
        height: 1200px;
        width: 100%;
    }

.container {
        color: red;
        width: 100%;
}
.Nav1 {
    width: 100px;
    border-right: 1px solid #cccccc;
    float: left;
    font-size: 16px;
}
.Nav2 {
    width: 100px;
    border-right: 1px solid #cccccc;
    float: left;
    font-size: 16px;
}
.Nav3 {
    width: 100px;
    float: left;
    font-size: 16px;
}
}