* {
    box-sizing: border-box;
}

body {
    margin: 0 0 70px 0;
    background: url('../images/brushed_alu_dark/brushed_alu_dark.png');
}

header {
    width: 100%;
    border-bottom: 5px solid #cccccc;
    text-align: center;
    background-color: #ffffff;
    height: 80px;
}

.container {
    width: 960px;
    margin: auto;
    text-align: center;
}

.Name {
    width: 30%;
    float: left;
    background-color: #4aaaa5;
    color: #fff;
    padding: 20px;
    font-size: 24px;
    position: relative;
    top: 11px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.navigation {
    width: 70%;
    float: left;
    position: relative;
    right: 0;
    top: 37.5px;
}

.navmenulinks {
    float: right;
}

a {
    text-decoration: none;
    color: #777777;
}

.Nav1 {
    width: 100px;
    border-right: 1px solid #cccccc;
    float: left;
}

.Nav2 {
    width: 100px;
    border-right: 1px solid #cccccc;
    float: left;
}

.Nav3 {
    width: 100px;
    float: left;
}

.content {
    width: 960px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 25px;
    color: #777777;
    border: #dddddd 1px solid;
    height: 675px;
}

h2 {
    color: #4aaaa5;
    font-size: 24px;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 25px;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

p {
    line-height: 2;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.image {
    float: left;
    margin: 0px 20px 20px 0px;
}
img {
    width: 200px;
}
.textbox {
    width: 100%;
    padding: 10px;
}

.textcomments {
    width: 100%;

}

.contact_form {
    line-height: 45px;
}

.submitbutton {
    background-color: #4aaaa5;
    padding: 12px;
    width: 160px;
    font-size: 20px;
    margin-top: 10px;
    color: #fff;
    position: relative;
    top: 270px;
    right: 6.5%;
}

.portfolio-links {
    width: 540px;
}

li {
    float: left;
}

h3 {
    background-color: #4aaaa5;
    width: 200px;
    text-align: center;
    margin-right: 25px;
    padding: 10px;
    position: relative;
    top: 135px;
    color: #fff;
}

footer {
    background-color: #666666;
    height: 50px;
    border-top: #4aaaa5 solid 5px;
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
    color: white;
}

@media only screen and (max-width: 980px) {
    p {
        text-align: justify;
    }

    h3 {
        top: 127px;
    }

    body {
        width: 100%;
    }

    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    header{
        height: 64px;
    }
    p {
        margin: auto;
        font-size: 14px;
        line-height: 24px;
    }

    h3 {
        top: 127px;
    }

    .Name {
        left: 6%;
        padding: 11px;
    }
    .navigation {
        width: 63%;
        top: 26.5px;
    }
    .content {
        width: 600px;
    }

    textarea.text_box {
        width: 551px;
    }

    .submitbutton {
        left: -11%;
        top: 270px;
    }

    body {
        width: 100%;
    }

    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {

    h1 {
        position: relative;
        bottom: 18px;
    }

    header {
        height: 49px;
    }

    .Name  {
        left: 2%;
        height: 15px;
        font-size: 18px;
        position: relative;
        top: 5px;
        width: 26%;
        padding: 20px;
    }

    .navigation {
        top: 16px;
    }

    body {
        width: 100%;
    }

    .container {
        width: 100%;
    }
    .Nav1 {
        width: 72px;
    }
    .Nav2 {
        width: 72px;
    }
    .Nav3 {
        width: 72px;
    }
}